.failure-container {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trending-heading {
  color: #ffffff;
}

.bottom-container {
  background-color: #131313;
  min-height: 50vh;
  padding: 30px;
}

.each-trending-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 10px;
}

.trending-image {
  width: 100%;
  height: auto;
}

.originals-heading {
  color: #ffffff;
}

.loader-container {
  display: flex;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
}

.alert-triangle {
  color: #d81f26;
  font-size: 24px;
}

.error-message {
  color: #ffffff;
}

.try-again-button {
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.background-poster {
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-image: url('https://assets.ccbp.in/frontend/react-js/movies-app/grindhouse-movie-poster.png');
}
